# Automatically created by mypy
.mypy_cache
__pycache__
Yahoo_Finance.csv
Webscraping_AICORE.pptx
example_input_data
.vscode
test.ipynb
test.csv
csr_hub.csv
test_rds_module.py
Companies_ESG_metrics.egg-info
CompaniesESGmetrics.egg-info
CompaniesESGScraper.egg-info
ESGscraper.egg-info
dist
build
.DS_Store